<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<ul>
	<li><a href="/Home/">Home</a></li>
	<li><a href="/Home/Contact">Contact</a></li>
	<li><a href="/Home/UpdateContact">Update Contact</a></li>
	<li><a href="/Home/About">About</a></li>
	@if (HttpContext.Current.User.Identity.IsAuthenticated)
	{
		<li><a href="/Home/Logout">Log out</a></li>
	}
</ul>
<div>
	@RenderBody()
</div>
</body>
</html>